body {
	font-family: sans-serif;
}

div {
	border: 1px solid black;
}

#input {
	margin: 0 auto;
	margin-top: 50px;
	width: 85%;
	padding: 6px;
	font-size: 48px;
}

.site-title {
	width: 20px;
	height: 20px;
	text-align: center;
	span {
		position: relative;
		top: 2px;
	}
}